In session exercise

In [23]:
l1 = ["Maharastra","Tamil Nadu","Delhi","Gujarat","Uttar Pradesh"]
print(l1)

['Maharastra', 'Tamil Nadu', 'Delhi', 'Gujarat', 'Uttar Pradesh']

In [24]:
l2 = [180298,94049,89802,33232,24056]
print(l2)

[180298, 94049, 89802, 33232, 24056]

In [25]:
t = (93154,52926,59992,24030,16629)
print(t)

(93154, 52926, 59992, 24030, 16629)

In [26]:
dict = {"Maharastra":180298,"Tamil Nadu":94049,"Delhi":89802,"Gujarat":33232,"Uttar Pradesh":24056}
print(dict)

{'Maharastra': 180298, 'Tamil Nadu': 94049, 'Delhi': 89802, 'Gujarat': 33232, 'Uttar Pradesh': 24056}

Slicing with list

In [52]:
l = [23,45,55,90,32,12]
print(l)

[23, 45, 55, 90, 32, 12]

In [53]:
print(l[1:4])

[45, 55, 90]

In [54]:
print(l[1:-3])

[45, 55]

In [55]:
print(l[3:])

[90, 32, 12]

In [56]:
print(l[3::-1])

[90, 55, 45, 23]

In [57]:
print(l[3:6:-1])

[]

In [58]:
l + ["hello"]

[23, 45, 55, 90, 32, 12, 'hello']

In [59]:
print(l)

[23, 45, 55, 90, 32, 12]

In [60]:
l = l + ["hello"]  
print(l)

[23, 45, 55, 90, 32, 12, 'hello']

In [61]:
l.append(65)
print(l)

[23, 45, 55, 90, 32, 12, 'hello', 65]

In [62]:
l.pop(1)
print(l)

[23, 55, 90, 32, 12, 'hello', 65]

In [64]:
print(l.pop())

65

In [65]:
print(l.sort()) #default ascending

TypeError: '<' not supported between instances of 'str' and 'int'

In [75]:
list1 = [19,87,-34,-2,0]

In [76]:
list1.sort()

In [77]:
list1

[-34, -2, 0, 19, 87]

In [83]:
list2 = ['z','a','g','b','h']
list2.sort()
print(list2)

['a', 'b', 'g', 'h', 'z']

In [85]:
m = [[1,2,3],[4,5,6],[7,8,9]]
print(m)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [89]:
m[0]

[1, 2, 3]

In [92]:
m1 = [[1,[45,76],2,3],[4,5,6],[7,8,9]]
print(m1)

[[1, [45, 76], 2, 3], [4, 5, 6], [7, 8, 9]]

In [93]:
print(m[0][1])

[45, 76]

In [94]:
print(m[-1])

[7, 8, 9]

Dictionary- are key & value pair

In [95]:
dict1 = {1:"one",2:"two",3:"three",4:"four",5:"five"}
print(dict1)

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [96]:
dict1[3]

'three'

In [97]:
dict1[2]

'two'

In [99]:
dict2 = {'a':10,'b':20,'c':30}
dict2['a'] = dict2['a'] +10
print(dict2)

{'a': 20, 'b': 20, 'c': 30}

In [100]:
dict1.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five')])

In [101]:
dict1.keys()

dict_keys([1, 2, 3, 4, 5])

In [102]:
dict1.values()

dict_values(['one', 'two', 'three', 'four', 'five'])

In [115]:
for x,y in dict1.items():
    print(x,y)

1 one
2 two
3 three
4 four
5 five

In [116]:
for i in dict1.values():
    print(i)

one
two
three
four
five

In [117]:
dict3 = {'three':3,'six':6,'one':1}

In [118]:
sorted(dict3.values())

[1, 3, 6]

Tuple - immutable

In [105]:
t = (12,30,50,50)

In [106]:
len(t)

4

In [107]:
t.count(50)

2

In [108]:
t[2]

50

Set

In [110]:
s = {12,12,34,56}
print(s)

{56, 34, 12}

In [112]:
s.add(12)
print(s)

{56, 34, 12}

In [113]:
l3 = [1,1,22,22,33,44,55,55]
s1 = set(l3)
print(s1)

{1, 33, 44, 22, 55}

In [121]:
num = 3 
if num % 2 == 0:
    print("{} is a even number".format(num))
else:
    print("{} is a odd number".format(num))

3 is a odd number

In [122]:
st1 = "hello"
for i in st1:
    print(i)

h
e
l
l
o

In [123]:
for i in t:
    print(i)

12
30
50
50

In [4]:
addBy2= lambda x: x+2
print(addBy2(2))

4

Take home excercise

In [3]:
def ifr(infected,deaths): 
    ifr = (deaths/infected)*100
    print("{} is the Infection fertality rate".format(ifr))
    
def cmr(deaths,no_ppl):
    cmr = (deaths/no_ppl)
    print("{} is the Crude mortality rate".format(cmr))
    
district = input("Enter the district: ")



print("""Infection fertality rate & Crude mortality rate
            Enter 1 for Infection fertality rate
            Enter 2 for Crude mortality rate
            Enter 3 for exit\n""")

while True:
    
    response = int(input("Enter your Choice: "))
    
    if response == 1:
        infected = int(input("Enter the number of infected ppl: "))
        deaths = int(input("Enter the number of deceased ppl: "))
        print(district)
        ifr(infected,deaths)
        
    elif response == 2:
        deaths = int(input("Enter the number of deceased ppl: "))
        no_ppl = int(input("Enter the total number of ppl in district: "))
        print(district)
        cmr(deaths,no_ppl)
      
        
    elif response == 3:
        print("Thank you!")
        break
    else:
        print("Invalid Input!")
        break

Enter the district: mumbai
Infection fertality rate & Crude mortality rate
            Enter 1 for Infection fertality rate
            Enter 2 for Crude mortality rate
            Enter 3 for exit

Enter your Choice: 1
Enter the number of infected ppl: 136596
Enter the number of deceased ppl: 5736
mumbai
4.199244487393481 is the Infection fertality rate
Enter your Choice: 2
Enter the number of deceased ppl: 5736
Enter the total number of ppl in district: 1000000
mumbai
0.005736 is the Crude mortality rate
Enter your Choice: 3
Thank you!